body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    scroll-behavior: smooth;
    
}

.sidebar {
    max-height: 150%;
    height: 100vh;
    width: 0%; /* 0 width - change this with JavaScript */
    position: fixed;/* Stay in place */
    z-index: 1; /* Stay on top */
    bottom: 0;
    right: 0;
    background-color: white;
    opacity: 0%;
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */
    overflow-y: auto;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    border: none;
  }

  .blog_img img{
    width: 30%;
    margin: 1em;
  }

  .list_img{
    width: 15%;
  }

  .vimeo iframe{
    width: 30%;
  }