{{ define "main" }}
<div class="grid-container">
    <div class="navbar ">
        <div class="home"><a href='{{ absURL "/"}}'><i class="black grow dim f3 fas fa-arrow-left"></i></a></div>
        <nav class="navlinks">
            {{ range .Site.Menus.main }}
            <a class="link black f3 pa4 fw6 dim" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </nav>
    </div>
    <div class="header">
        <div class="headline tc">
            <h1 class="f-subheadline fw6 ma0 ttu mt3">{{.Title}}</h1>
            <div class="mv4 center ma0 w-20 bw1 ba"></div>
            <h1 class="f4 fw4">{{.Summary}}</h1>
        </div>
    </div>
    <div class="content">
        <div class="blog flex flex-column">
            {{ range .Pages.ByPublishDate.Reverse }}
            <div class="flex justify-center items-center mv4">
                <div class="mh3 thumbnail">
                    <a href="{{.Permalink}}" class="dim">{{if isset .Params "featured_image" }}
                        <img src="{{ index .Params "thumbnail" }}"></a>
                    {{end}}
                </div>
                <div class="blog_content">
                    <h1 class="ma0 mb3 f3 ttc">{{ .Title }}</h1>
                    <p class="black-80 measure lh-copy">{{ .Summary }}..<a class="link underline-hover black-70"
                            href="{{.Permalink}}">Read
                            More</a></p>
                    {{ partial "date-and-tags.html" . }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <div class="footer">
        <div class="Footer_wrap">
            <div class="tc f3 mv4">
                <a class="black-70 dim" href="https://www.instagram.com/jack.obrien.does.things/"><i
                        class="grow fab fa-instagram"></i></a>
                <a class="black-70 dim mh4" href="https://vimeo.com/parduseidolon"><i
                        class="grow fab fa-vimeo-v"></i></a>
                <a class="black-70 dim" href="https://twitter.com/1cooljack"><i class="grow fab fa-twitter"></i></a>
            </div>
            <footer class="mv4 tc flex flex-column">
                <small class="ttc fw2 black-80">{{ $.Site.Params.footertext }}</small>
                <small class="ttc fw2 black-80 mv2">{{ $.Site.Params.footertext2 }}</small>
            </footer>
        </div>
    </div>
</div>

{{ end }}