{{ define "main" }}

<div class="grid">
    <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ipsum libero impedit ea ad suscipit tempora
        autem corrupti cumque ex, illum a minima voluptatibus asperiores voluptate. Nobis laboriosam praesentium quas?
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut pariatur quaerat, necessitatibus temporibus
        delectus dolore esse nisi eum vero unde expedita ipsam perferendis eligendi numquam autem rerum cum nam tenetur?
    </div>
</div>

{{ end }}