{{ define "resume" }}
{{ $sections := split .Content "+++" }}
<div class="header">
    <div class="avatar">
        <img class="br-100 h4 w4 shadow-5" src="{{ index .Params "avatar" }}" alt="">
    </div>
    <div class="headline">
        <h1 class="f1 lh-title fw6">{{ .Params.name }}</h1>
        <h2 class="fw6">{{ .Description }}</h2>
        <div class="location">
            <i class="mapmarker fas fa-map-marker-alt"></i>
            <h3 class="fw6">{{ .Params.Location }}</h3>
        </div>
    </div>
</div>

<!-- !ATTENTION! Resume Body starts here. -->
<div class="res-body">
    <div class="about_content lh-copy ">
        <hr class="mv4">
        {{ index $sections 0 | safeHTML }}
    </div>
    <!-- Skill Sets -->
    <div class="skills">
        {{ index $sections 1 | safeHTML }}
    </div>
    <!-- Software Profiency -->
    <div class="software-body">
        {{ index $sections 2 | safeHTML }}
    </div>
    <!-- Experience -->
    <div class="ex-body">
        {{ index $sections 3 | safeHTML }}
        <div class="ex-wrap">
            {{ index $sections 4 | safeHTML }}
        </div>
    </div>
    {{ end }}