{{ define "main" }}
<div class="grid-single-nav">
    {{ partial "nav.html" . }}
</div>
<div class="vh-50 single-header cover" style="background:url({{ index .Params "featured_image" }}) no-repeat center;">
        <div class="white pv3 tc bg-black single-header-content">
            <h1 class="f1 ttu fw5 ma0">{{.Title}}</h1>
            <h3 class="f5-ns fw4">{{ .Date.Format "Mon, Jan 2, 2006" }}</h3>
        </div>
</div>
{{ $sections := split .Content "+++" }}
<div>
    <div class="single-content">
        <div class="single-text lh-copy ma4">
            {{ index $sections 0 | safeHTML }}
        </div>
        <div class="blog_img">
                {{ index $sections 1 | safeHTML }}
        </div>
    </div>
</div>
<div class="footer">
    {{ partial "footer.html" . }}
</div>
{{ end }}