.resume_head {
    text-align: center;
    box-shadow: 23px 20px 37px 0px rgba(0, 0, 0, 0.200);
    padding: 25px;

    .location {
        display: flex;
        justify-content: center;
        align-items: center;

        .mapmarker {
            margin: 0 1em;
        }
    }
}

.res-body {
    @include grid_list(1fr 2fr 1fr, 1fr);
    display: grid;
    grid-template-areas: ". about_content ."". skills ."". software-body ."". ex-body .";
    grid-area: about;
    margin: 1em 0;

    .about_content {
        grid-area: about_content;
    }

    // Skill Set classes here
    .skills {
        grid-area: skills;

        .skill-wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .skillblk {
                padding: 8px;
                border-style: solid;
                border-width: 1px;
                margin: 1em 1em 1em 0;

                h4 {
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: capitalize;
                    margin: 0;
                }
            }
        }
    }

    // Software proficiencies
    .software-body {
        grid-area: software-body;

        .software-wrap {
            display: flex;
            flex-direction: column;

            .body-logo-wrap {
                margin: 1em 0;
            }

            .s-logo-wrap {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .s-logo {
                    display: flex;
                    align-items: center;
                    margin-right: 1.5em;

                    img {
                        width: 35px;
                    }
                }
            }
        }
    }

    // experience body
    .ex-body {
        grid-area: ex-body;

        .ex-wrap {
            display: flex;
            flex-direction: column;

            .ex-content {
                margin: 5px 0;

                .ex-content-date {
                    width: 30%;

                    p {
                        text-align: center;
                        font-size: 13px;
                        padding: 0.4em;
                    }
                }

                .ex-para {
                    line-height: 1.5em;
                    margin: 0px;
                }
            }
        }
    }
}

// MEDIUM DEVICES
@media only screen and (max-width: 768px) {
    .res-body {
        @include grid_list(50px 1fr 50px, 1fr);
        display: grid;
        grid-template-areas: ". about_content ."". skills ."". software-body ."". ex-body .";
        grid-area: about;
        margin: 1em 0;

        // Medium Experience body
        .ex-body {
            grid-area: ex-body;

            .ex-wrap {
                display: flex;
                flex-direction: column;

                .ex-content {
                    margin: 0 0;

                    .ex-content-date {
                        width: 45%;
                        margin: 1em 0 1em;

                        p {
                            text-align: center;
                            font-size: 13px;
                            padding: 0.4em;
                        }
                    }

                    .ex-para {
                        line-height: 1.5em;
                        margin: 0px;
                    }
                }
            }
        }
    }
}

// SMALL DEVICES
@media only screen and (max-width: 375px) {

    .res-body {
        @include grid_list(30px 2fr 30px, 1fr);
        grid-template-areas: ". about_content ."". skills ."". software-body ."". ex-body .";
        margin: 1em 0;

        // Small Skill Set classes here
        .skills {
            grid-area: skills;

            .skill-wrap {
                display: flex;
                flex-direction: column;
                align-items: center;

                .skillblk {
                    width: 70%;
                    padding: 8px;
                    margin: 0.5em;
                    text-align: center;

                    h4 {
                        font-size: 15px;
                        font-weight: 400;
                        text-transform: capitalize;
                        margin: 0;
                    }
                }
            }
        }

        // Small Software proficiencies
        .software-body {
            h1 {
                text-align: center;
            }

            .software-wrap {
                display: flex;
                flex-direction: column;

                .body-logo-wrap {
                    margin: 0 0;
                }

                .s-logo-wrap {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        // Small Experience body
        .ex-body {
            grid-area: ex-body;

            .ex-wrap {
                display: flex;
                flex-direction: column;

                .ex-content {
                    margin: 0 0;

                    .ex-content-date {
                        width: 80%;
                        margin: 1em 0 1em;

                        p {
                            text-align: center;
                            font-size: 13px;
                            padding: 0.4em;
                        }
                    }

                    .ex-para {
                        line-height: 1.5em;
                        margin: 0px;
                    }
                }
            }
        }
    }
}