.header{
    text-align: center;
    .location{
        display: flex;
        justify-content: center;
        align-items: center;

        .mapmarker{
            margin: 0 1em;
        }
    }
}

.res-body{
    @include grid_list(1fr 2fr 1fr, 1fr);
    display: grid;
    grid-template-areas: ". about_content ." ". skills ." ". software-body ." ". ex-body .";
    grid-area: about;
    margin: 1em 0;
    
    .about_content{
        grid-area: about_content;
    }
// Skill Set classes here
    .skills{
        grid-area: skills;

        .skill-wrap{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .skillblk{
                margin-right: 0.5em;
                h4{
                    font-size: 14px;
                    padding: 8px;
                    font-weight: 400;
                    text-transform: capitalize;
                    border-style: solid; border-width: 1px;
                }
            }
        }
    }
    // Software proficiencies
    .software-body {
        grid-area: software-body;

        .software-wrap {
            display: flex;
            flex-direction: column;

            .body-logo-wrap{
                margin: 1em 0;
            }

            .s-logo-wrap {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .s-logo {
                    display: flex;
                    align-items: center;
                    margin-right: 1.5em;
                    img {
                        width: 35px;
                    }
                }
            }
        }
    }

// experience body
    .ex-body {
        grid-area: ex-body;

        .ex-wrap {
            display: flex;
            flex-direction: column;

            .ex-content {
                margin: 5px 0;

                .ex-content-date{
                    width: 30%;
                    p {
                        text-align: center;
                        font-size: 13px;
                        padding: 0.4em;
                    }
                }

                .ex-para {
                    line-height: 1.5em;
                }
            }
        }
    }

    }