// learn about Tachyons http://tachyons.io
@import 'tachyons';
@import 'list_page';
@import 'single_page';

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  list-style-type: square;
  
}

* ul{
  padding: 1em;
}

.sidebar {
  max-height: 150%;
  height: 100vh;
  width: 0%; /* 0 width - change this with JavaScript */
  position: fixed;/* Stay in place */
  z-index: 1; /* Stay on top */
  bottom: 0;
  right: 0;
  background-color: white;
  opacity: 0%;
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */
  overflow-y: auto;
}


.vimeo iframe{
  width: 30%;
}



//----------------------

@media only screen and (max-width: 670px) {}