// learn about Tachyons http://tachyons.io
@import 'tachyons';
@import 'list_page';
@import 'single_page';

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  scroll-behavior: smooth;
  list-style-type: square;
  
}

* ul{
  padding: 1em;
}

.sidebar {
  max-height: 150%;
  height: 100vh;
  width: 0%; /* 0 width - change this with JavaScript */
  position: fixed;/* Stay in place */
  z-index: 1; /* Stay on top */
  bottom: 0;
  right: 0;
  background-color: white;
  opacity: 0%;
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */
  overflow-y: auto;
}


.vimeo iframe{
  width: 30%;
}

.navbar{
  @include grid_list( 1fr 1fr 1fr, 80px);
  @include items_center();
  grid-area: navbar;
  display: grid;
  grid-template-areas: "home navlinks .";
  
  .home{
    grid-area: home;
  }
  .navlinks{
    grid-area: navlinks;
    text-align: center;
  }
}

.footer{
  @include grid_list(1fr 1fr 1fr);
  display: grid;
  grid-area: footer;
  grid-template-areas: ". footer_wrap .";

  .footer_wrap{
    grid-area: footer_wrap;
  }
}

//----------------------
// SMALL DEVICES
@media only screen and (max-width: 375px) {

  .navbar{
    @include grid_list( 30px 1fr 30px, 50px);
    @include items_center();
    display: grid;
    
    .home{
      @include items_center();
      margin-left: 20px;
    }
    .navlinks{
      text-align: center;
    }
  }

  .footer{
    @include grid_list(50px 2fr 50px);
    display: grid;
  }

}

// MEDIUM DEVICES
@media only screen and (max-width: 768px){
  .navbar{
    @include grid_list( 30px 1fr 30px, 50px);
    @include items_center();
    display: grid;
    
    .home{
      @include items_center();
      margin-left: 20px;
    }
    .navlinks{
      text-align: center;
    }
  }
}