<div class="footer">
    <div class="footer_wrap mv4-l">
        <div class="tc f3 mv4">
            <a class="black-70 dim" href="https://vimeo.com/parduseidolon"><i class="grow fab fa-vimeo-v"></i></a>
            <a class="black-70 dim" href="https://twitter.com/1cooljack"><i class="grow fab fa-twitter"></i></a>
            <a class="black-70 dim" href="mailto:jack@qulture.studio"><i class="grow fas fa-envelope"></i></a>
            <a class="black-70 dim" href="https://www.artstation.com/parduseidolon"><i class="grow fab fa-artstation"></i></a>
        </div>
        <footer class="mv4 tc flex flex-column">
            <small class="ttc fw2 black-80">{{ $.Site.Params.footertext }}</small>
            <small class="ttc fw2 black-80 mv2">{{ $.Site.Params.footertext2 }}</small>
        </footer>
    </div>
</div>