<div id="Sidebar" class="sidebar shadow-1">
    <a href="javascript:void(0)" class="closebtn fixed" onclick="closeNav()"><i class="ma3 black-70 dim grow f3 fas fa-times-circle"></i></a>
    <div class="tc mt5">
        <i class="f2 mb4 fas fa-info-circle"></i>
        <h1 class="ttu fw5">What is this?</h1>
        <div class="mv2 center w-50 bw1 ba"></div>
        <p class="f6 tl ma0 ph5 pv2">This is a showcase of my recent video works ranging from over the years. Any new video projects that are in the works will be posted here so be sure to check them out!</p>
    </div>

    <div class="mt5">
        <h1 class="ttu tc fw5">What gear do i use?</h1>
        <div class="mv2 center w-50 bw1 ba"></div>
        <p class="f6 tl ma0 ph5 pv2"> For those who are curious about the specifics:
            <br>
            <br>
            - Black Magic Cinema 4k
            <br>
            - Panasonic 18-35mm 2.8f
            <br>
            - Black Magic Video Assist Recorder
            <br>
            - Zoom H1 with shotgun attachment
            <br>
            - Small Rig Cage BMCC4K
            <br>
            - Ronin S
        </p>
    </div>

    <div class="mt5 tc">
        <h1 class="ttu fw5">Social Channels</h1>
        <div class="mv2 center w-50 bw1 ba"></div>
        <p class="f6 ma0 ph5 pv2">If You want to stay updated with my social life and any upcoming projects besure to checkout my channels.</p>
        <div class="tc f2 mv4">
            <a class="black dim" href="https://www.instagram.com/jack.obrien.does.things/"><i class="grow fab fa-instagram"></i></a>
            <a class="black dim mh4" href="https://vimeo.com/parduseidolon"><i class="grow fab fa-vimeo-v"></i></a>
            <a class="black dim" href="https://twitter.com/1cooljack"><i class="grow fab fa-twitter"></i></a>
        </div>

        <p class="f6 center measure mb4">If you want to contact me be sure to flick something off to 1cooljack@gmail.com</p>
    </div>
</div>