<div id="Sidebar" class="sidebar shadow-1">
    <a href="javascript:void(0)" class="closebtn fixed" onclick="closeNav()"><i class="ma3 black-70 dim grow f3 fas fa-times-circle"></i></a>
    <div class="tc mt5">
        <i class="f2 mb4 fas fa-info-circle"></i>
        <h1 class="ttu fw5">What is this?</h1>
        <div class="mv2 center w-50 bw1 ba"></div>
        <p class="f6 tl ma0 ph5 pv2">At magnum periculum adiit in oculis quidem se esse albam, dulce mel quorum facta
            quem ad id est consecutus? laudem et argumentandum et dolorem ipsum autem quidam e nostris, qui ratione et
            iusto odio
            dignissimos ducimus, qui officia deserunt mollitia animi, id ne ad modum.</p>
    </div>

    <div class="mt5">
        <h1 class="ttu tc fw5">What gear do i use?</h1>
        <div class="mv2 center w-50 bw1 ba"></div>
        <p class="f6 tl ma0 ph5 pv2">At magnum periculum adiit in oculis quidem se esse albam, dulce mel quorum facta
            quem ad id est consecutus? laudem et argumentandum et dolorem ipsum autem quidam e nostris, qui ratione et
            iusto odio dignissimos ducimus, qui officia deserunt mollitia animi, id ne ad modum.</p>
    </div>

    <div class="mt5 tc">
        <h1 class="ttu fw5">Social Channels</h1>
        <div class="mv2 center w-50 bw1 ba"></div>
        <p class="f6 ma0 ph5 pv2">Quid ex eo est eligendi optio, cumque nihil impedit, quo ignorare vos arbitrer, sed
            ipsius.</p>
        <div class="tc f2 mt4">
            <a class="black dim" href="#"><i class="grow fab fa-instagram"></i></a>
            <a class="black dim mh4" href="#"><i class="grow fab fa-vimeo-v"></i></a>
            <a class="black dim" href="#"><i class="grow fab fa-twitter"></i></a>
        </div>
    </div>
</div>