<div class="software-wrap">
    <h1>Software Effciency</h1>
    <!-- 3D Design -->
    <div class="body-logo-wrap">
        <h2 class="f4 fw6">3D Design</h2>
        <!-- 3D Logos -->
        <div class="s-logo-wrap">
            <div class="s-logo">
                <img src="/s_logo/3D/3ds_Max.png" alt="">
                <h4 class="ml2 fw4">3Ds Max</h4>
            </div>
            <div class="s-logo">
                <img src="/s_logo/3D/mixer.png" alt="">
                <h4 class="ml2 fw4">Quixel Mixer</h4>
            </div>
            <div class="s-logo">
                <img src="/s_logo/3D/substance.png" alt="">
                <h4 class="ml2 fw4">Substance Painter</h4>
            </div>
            <div class="s-logo">
                <img src="/s_logo/3D/unreal.png" alt="">
                <h4 class="ml2 fw4">Unreal Engine</h4>
            </div>
            <div class="s-logo">
                <img src="/s_logo/3D/vray.png" alt="">
                <h4 class="ml2 fw4">Vray</h4>
            </div>
            <div class="s-logo">
                <img src="/s_logo/3D/world creator.png" alt="">
                <h4 class="ml2 fw4">World Creator</h4>
            </div>
        </div>
        <!-- Visual Composition -->

    </div>
    <!-- Visual Composition -->
    <div class="body-logo-wrap">
        <h2 class="f4 fw6">Visual Compostion</h2>
        <div class="s-logo-wrap">
            <div class="s-logo">
                <img src="/s_logo/comp/affinity.png" alt="">
                <h4 class="ml2 fw4">3Ds Max</h4>
            </div>
            <div class="s-logo">
                <img src="/s_logo/comp/aftereffects.png" alt="">
                <h4 class="ml2 fw4">Quixel Mixer</h4>
            </div>
            <div class="s-logo">
                <img src="/s_logo/comp/davinci.png" alt="">
                <h4 class="ml2 fw4">Substance Painter</h4>
            </div>
            <div class="s-logo">
                <img src="/s_logo/comp/photoshop.png" alt="">
                <h4 class="ml2 fw4">Unreal Engine</h4>
            </div>
        </div>
    </div>
    <!-- Sound -->
    <div class="body-logo-wrap">
        <h2 class="f4 fw6">Sound</h2>
        <div class="s-logo-wrap">
            <div class="s-logo">
                <img src="/s_logo/sound/pro tools.png" alt="">
                <h4 class="ml2 fw4">Pro Tools</h4>
            </div>
            <div class="s-logo">
                <img src="/s_logo/sound/abelton.png" alt="">
                <h4 class="ml2 fw4">Abelton</h4>
            </div>
        </div>
    </div>
    <!-- Web Development -->
    <div class="body-logo-wrap">
        <h2 class="f4 fw6">Web Development</h2>
        <div class="s-logo-wrap">
            <div class="s-logo">
                <img src="/s_logo/web/CSS.png" alt="">
                <h4 class="ml2 fw4">CSS</h4>
            </div>
            <div class="s-logo">
                <img src="/s_logo/web/html5.png" alt="">
                <h4 class="ml2 fw4">HTML 5</h4>
            </div>
            <div class="s-logo">
                <img src="/s_logo/web/Hugo.png" alt="">
                <h4 class="ml2 fw4">Hugo</h4>
            </div>
            <div class="s-logo">
                <img src="/s_logo/web/SCSS.png" alt="">
                <h4 class="ml2 fw4">SCSS</h4>
            </div>
        </div>
    </div>
</div>